@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.btnss{
    display: flex;
    /* height: 80vh; */
    /* gap: 100px; */
}

.side{
    align-items: center;
    justify-content: center;
    gap: 10px;

    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #728487;

}

.side button{
    padding: 15px 0;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: #728487;
    transition: 0.3s;
    border: 1px solid #859a9d;
}

.side button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #859a9d;

}


/* 
table tr{
    display: flex;
    justify-content: center;
    width: 100%;
}

table thead{
    width: 100%;
}

table tr th{
    padding: 10px 5%;
    font-size: 20px;
    color: white;
    background-color: #454545;
    


}

table{
    width: 50%;
}

table tbody td{
    
    border: 1px solid black;
    border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #ddd; 
            padding: 8px; 
            text-align: left;

}

tbody tr{
    display: flex;
    justify-content: center;
    width: 100%;

}

table tbody{
    width: 100%;

}  */

        /* .btn{
        width: 90%;
      padding: 10px;
      color: white;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer; 
    } */
